
.new-menu-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
   
}

@media (max-width:768px){
    
    .new-menu-container{
        width: 100%;
    }
}