
.cart-popup {
  width: 100%;
  padding: 20px;
}
.cart-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.cart-items {
  max-height: 40rem;
  max-width: 40rem;
  overflow-y: auto;
  padding: 20px;
}
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  gap: 20px;
  padding: 10px 0;
}
.item-info h3 {
  margin: 0;
  font-size: 1rem;
}
.item-price {
  font-size: 14px;
  color: gray;
}
.item-controls {
  display: flex;
  align-items: center;
  gap: 20px;
}
.quantity-input {
  width: 3rem;
  height: 1.5rem;
  
  text-align: center;
}
.remove-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
.remove-btn svg{
  color: none;
  width: 1.5rem;
  height: 1.5rem;
}
.cart-footer {
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
  font-weight: bold;
}
.cart-actions {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 10px;
}
.cart-footer{
  display: flex;
  flex-direction: column;
}
.subtotal{
  align-self: flex-end;
}
.place-order-btn, .cancel-order-btn {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.place-order-btn {
  background: #28a745;
  color: white;
}
.cancel-order-btn {
  background: #28a745;
  color: white;
}
.empty-item{
  display: flex;
  flex-direction: column;
}
.empty-cart{
  padding: 20px;
}

@media (max-width: 600px) {
  .cart-popup {
    width: 100%;
    padding: 20px;

  }
  .cart-title {
    font-size: 1rem;
  }
  .cart-items{
    max-height: 20rem;
    overflow-y: auto;
  }
  .cart-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    
  }
  .item-controls {
    width: 100%;
    justify-content: space-between;
  }
  .item-info h3 {
    font-size: .8rem;
  }
  .cart-footer{
    display: flex;
    flex-direction: column;
  }
  .subtotal{
    align-self: flex-end;
  }
  .cart-actions {
    
    
  }
  .quantity-input {
    width: 2.5rem;
    height: 1.3rem;
    padding: 0;
  }
  .remove-btn svg{
    width: 1.rem;
    height: 1.5rem;
  }
  .place-order-btn, .cancel-order-btn {
    width: 100%;
  }
  .empty-cart{
    padding: 20px;
  }
}