.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  opacity: 1;
}



.modal-content {
  background-color: #fefefe;
  margin: 70px auto;
  padding: 20px;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
@media (max-width: 768px) { /* Tablet and smaller */
  .modal {
      width: 90%;
      max-height: 90vh;
  }
}

@media (max-width: 480px) { /* Mobile */
  .modal {
      width: 95%;
      max-height: 95vh;
  }
}