.modal {
  position: fixed;
  z-index: 1;
  top: 50%; /* Position the top edge in the vertical center */
  left: 50%; /* Position the left edge in the horizontal center */
  transform: translate(-50%, -50%); /* Center the element */
  width: 800px; /* Default width for desktop */
  max-height: 80vh; /* Maximum 80% of the viewport height */
  overflow-y: scroll; /* Add scrollbar if content overflows */
  background-color: rgba(0,0,0,0.4);
}



.modal-content {
  background-color: #fefefe;
  margin: 5%;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
@media (max-width: 768px) { /* Tablet and smaller */
  .modal {
      width: 90%;
      max-height: 90vh;
  }
}

@media (max-width: 480px) { /* Mobile */
  .modal {
      width: 95%;
      max-height: 95vh;
  }
}